* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  transition: background-color 0.3s linear;
}

@media screen and (max-width: 800px) {
  .container{
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(7, 1fr);
  }
  .circle {
    height: 50px;
    width: 50px;
  }
}

@media screen and (min-width: 800px) {
  .container{
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(10, 1fr);
  }
  .circle {
    height: 75px;
    width: 75px;
  }
}

@media screen and (min-width: 1200px) {
  .container{
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(10, 1fr);
  }
  .circle {
    height: 100px;
    width: 100px;
  }
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  width: 95%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border: 3px solid black;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
}

.circleArea {
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle {
  z-index: 5;
  background-color: white;
  border-radius: 100%;
}


